<%- include('includes/head.ejs'); %>
</head>
<%- include('includes/navigation.ejs'); %>

<body>
    <main>
        <title><%= title %></title>
        <form class="col s12"
            action="/turns/add"
            method="POST">
            <div class="row">
                <div class="input-field col m6 s12">
                    <input type="text" class="validate" required="" aria-required="true" name="name" id="name"
                        value="">
                    <label class="active" for="name">Nome</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m6 s12">
                    <input type="text" class="validate" required="" aria-required="true" name="programId" id="programId"
                        value="<%= programId %>">
                    <label class="active" for="programId">cartellone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m6 s12">
                    <input type="text" class="validate" required="" aria-required="true" name="sourcePage" id="sourcePage"
                        value="<%= sourcePage %>">
                    <label class="active" for="sourcePage">url sorgente</label>
                </div>
            </div>
   
            <div>
                
                <button class="btn disabled" type="submit"
                        name='submit'>Salva</button>
            </div>
            
        </form>

    </main>

    <%- include('includes/end.ejs'); %>
    
    
    <script>

        var formChanged = false;
        $("form").change(function (e) {
            if (formChanged !== true) {
                formChanged = true
                $("button").toggleClass('disabled');
            }
        })

        $('html').bind('keypress', function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        })

    </script>